{% extends "base.html" %}
{% block headblock %}
    <script src="{{ url_for('static', filename='status.js') }}"></script>
{% endblock %}

{% macro dl_table(dl_items, css_class, col_labels, cols) %}
  <div class="{{css_class}}">
    {% if dl_items|length == 0 %}
      <p>Empty</p>
    {% else %}
      <table>
        <thead>
          <tr>
            {% for extra in col_labels %}
              <th>{{ extra }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for j in dl_items %}
            <tr rowid="{{ j['rowid'] }}">
            {% for extra in cols %}
              <td>{{ j[extra]|safe }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
    </div>
{% endmacro %}

{% block content %}
  <h1>Status</h1>
  <label><input id="status_auto_checkbox" type="checkbox" checked=""/>Auto-update</label> 
  <h2>Running</h2>
    {{ dl_table(context.running, 'dl-running', ['Id', 'Started', 'URL', 'Title', 'ETA', 'Percent', 'Speed', 'Total Bytes', 'Log'],
                                               ['rowid', 'run_time', 'url', 'title', 'ETA', 'Percent', 'Speed', 'Total Bytes', 'log']
    )}}
  <h2>Queued</h2>
    {{ dl_table(context.queued, 'dl-queued', ['Id', 'Queued', 'URL'], ['rowid', 'queued_time', 'url'])}}
    {% if context.queued|length > 0 %}
      <p><a href="/clear/queued">Clear all queued entries</a></p>
    {% endif %}
  <h2>Done ({{ context.config.MAX_DONE }} max)</h2>
    {{ dl_table(context.done, 'dl-done', ['Id', 'Done', 'URL', 'Title', 'Filename', 'Total Bytes', 'Log'],
                                         ['rowid', 'done_time', 'url', 'title', 'filename', 'filesize', 'log'])}}
    {% if context.done|length > 0 %}
       <p><a href="/clear/done">Clear all done entries</a></p>
    {% endif %}
{%endblock%}